<section class="content">
  <div class="container-fluid">
    <div class="row align-items-center">
      <!-- Left-hand side: Title -->
      <div class="col-md-6 mb-2">
        <span class="mb-0 page-title">{{ "ALL_DOCUMENTS" | translate }}</span>
        <app-page-help-text [code]="'ALL_DOCUMENTS'"></app-page-help-text>
      </div>
      <!-- Right-hand side: Buttons -->
      <div class="col-md-6 d-flex justify-content-end mb-2">
        <button *hasClaim="'all_documents_create_document'" class="btn btn-success btn-sm me-2"
          [routerLink]="['/documents/add']">
          <i-feather name="plus"></i-feather>
          {{ "ADD_DOCUMENT" | translate }}
        </button>
      </div>
    </div>
    <div class="card">
      <div class="header">
        <mat-accordion>
          <mat-expansion-panel [expanded]="step() === 0">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{ "FILTER" | translate }}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="d-flex flex-wrap flex-column flex-sm-row">
              <div class="p-1 flex-item flex-fill">
                <input class="form-control" placeholder="{{
                          'SEARCH_DOCUMENT_BY_NAME_OR_DESCRIPTION' | translate
                        }}" type="text" #input />
              </div>
              <div class="p-1 flex-item flex-fill">
                <input class="form-control" placeholder="{{ 'SEARCH_DOCUMENT_BY_META_TAGS' | translate }}" #metatag />
              </div>
              <div class="p-1 flex-item flex-fill">
                <mat-select class="form-control" placeholder="{{ 'SELECT_CATEGORY' | translate }}"
                  (selectionChange)="onCategoryChange($event)">
                  <mat-option [value]="">-- {{ "NONE" | translate }} --</mat-option>
                  <mat-option *ngFor="let category of hierarchicalCategories" [value]="category.id">
                    <div class="country-item" [ngStyle]="{ 'margin-left.px': category.deafLevel * 20 }">
                      <div *ngIf="!category.parentId">
                        <b> {{ category.name }}</b>
                      </div>
                      <div *ngIf="category.parentId">
                        {{ category.name }}
                      </div>
                    </div>
                  </mat-option>
                </mat-select>
              </div>
              <div class="p-1 flex-item flex-fill">
                <mat-select class="form-control" placeholder="{{ 'SELECT_DOCUMENT_STATUS' | translate }}"
                  (selectionChange)="onStatusChange($event)">
                  <mat-option [value]="">-- {{ "NONE" | translate }} --</mat-option>
                  <mat-option *ngFor="let status of documentStatuses" [value]="status">
                    <span [ngStyle]="{ color: status?.colorCode }">{{
                      status.name
                      }}</span>
                  </mat-option>
                </mat-select>
              </div>
              <div class="p-1 flex-item flex-fill">
                <mat-select class="form-control" placeholder="{{ 'SELECT_STORAGE' | translate }}"
                  (selectionChange)="onStorageChange($event)">
                  <mat-option [value]="">-- {{ "NONE" | translate }} --</mat-option>
                  <mat-option *ngFor="let storage of storageSetting" [value]="storage">
                    {{ storage.storageType | storageType : storage.name }}
                  </mat-option>
                </mat-select>
              </div>
              <div class="p-1 flex-item flex-fill">
                <div class="input-group">
                  <input #ref class="form-control" [matDatepicker]="picker"
                    placeholder="{{ 'CREATED_DATE' | translate }}" (dateInput)="onCreatedDateChange(ref.value)" />
                  <div class="input-group-append">
                    <button class="btn btn-primary calendar-button" type="button" (click)="picker.open()">
                      <i-feather name="calendar" class="small-icon"></i-feather>
                    </button>
                  </div>
                  <mat-datepicker #picker></mat-datepicker>
                </div>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
      <div class="body">
        <div class="table-responsive">
          <div class="grid-height-small">

            <table mat-table [dataSource]="dataSource" matSortDisableClear class="w-100" matSort
              matSortActive="createdDate" matSortDirection="desc">
              <ng-container matColumnDef="select">
                <th class="table-column-fix-30" mat-header-cell *matHeaderCellDef>
                  <ng-container *ngIf="selection.isEmpty()">
                    <mat-checkbox (change)="$event ? masterToggle() : null" color="primary"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()">
                    </mat-checkbox>
                  </ng-container>
                  <ng-container *ngIf="!selection.isEmpty()">
                    <button mat-mini-fab class="btn btn-primary btn-sm" matTooltipPosition="above"
                      matTooltip="{{ 'CLICK_HERE_TO_SHARED_SELECT_DOCUMENTS' | translate }}"
                      (click)="onSharedSelectDocument()" *hasClaim="'all_documents_share_document'"
                      aria-label="{{ 'SHARE' | translate }}">
                      <mat-icon>share</mat-icon>
                    </button>
                  </ng-container>
                </th>
                <td mat-cell *matCellDef="let row">
                  <mat-checkbox (click)="$event.stopPropagation()" color="primary"
                    (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
                  </mat-checkbox>
                </td>
              </ng-container>
              <ng-container matColumnDef="action">
                <th class="table-column-fix-30" mat-header-cell *matHeaderCellDef>
                  {{ "ACTION" | translate }}
                </th>
                <td mat-cell *matCellDef="let document">
                  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Action">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">

                    <button *hasClaim="'all_documents_edit_document'" mat-menu-item class="btn btn-light btn-sm"
                      (click)="editDocument(document)">
                      <mat-icon>edit</mat-icon>
                      {{ "EDIT" | translate }}
                    </button>
                    <button *hasClaim="'all_documents_share_document'" mat-menu-item class="btn btn-light btn-sm"
                      (click)="manageDocumentPermission(document)" type="button">
                      <mat-icon>share</mat-icon>
                      {{ "SHARE" | translate }}
                    </button>
                    <button *hasClaim="'all_documents_create_shareable_link'" mat-menu-item class="btn btn-light btn-sm"
                      (click)="onCreateShareableLink(document)" type="button">
                      <mat-icon>link</mat-icon>
                      {{ "GET_SHAREABLE_LINK" | translate }}
                    </button>
                    <button class="btn btn-light btn-sm" mat-menu-item (click)="onDocumentView(document)" type="button">
                      <mat-icon>visibility</mat-icon>
                      {{ "VIEW" | translate }}
                    </button>
                    <button class="btn btn-light btn-sm" *hasClaim="'all_documents_download_document'" mat-menu-item
                      (click)="downloadDocument(document)" type="button">
                      <mat-icon>download</mat-icon>
                      {{ "DOWNLOAD" | translate }}
                    </button>
                    <button mat-menu-item class="btn btn-light btn-sm" *hasClaim="'all_documents_upload_new_version'"
                      (click)="uploadNewVersion(document)" type="button">
                      <mat-icon>upload</mat-icon>
                      {{ "UPLOAD_NEW_VERSION_FILE" | translate }}
                    </button>
                    <button class="btn btn-light btn-sm" mat-menu-item *hasClaim="'all_documents_view_version_history'"
                      (click)="onVersionHistoryClick(document)">
                      <mat-icon> history</mat-icon>
                      {{ "VERSION_HISOTRY" | translate }}
                    </button>
                    <button class="btn btn-light btn-sm" *hasClaim="'all_documents_add_comment'" mat-menu-item
                      (click)="addComment(document)" type="button">
                      <mat-icon> chat</mat-icon>
                      {{ "COMMENT" | translate }}
                    </button>
                    <button class="btn btn-light btn-sm" *hasClaim="'all_documents_add_reminder'" mat-menu-item
                      (click)="addReminder(document)" type="button">
                      <mat-icon>notifications</mat-icon>
                      {{ "ADD_REMINDER" | translate }}
                    </button>
                    <button class="btn btn-light btn-sm" *hasClaim="'all_documents_send_email'" mat-menu-item
                      (click)="sendEmail(document)" type="button">
                      <mat-icon>forward_to_inbox</mat-icon>
                      {{ "SEND_EMAIL" | translate }}
                    </button>
                    <button *hasClaim="'all_documents_delete_document'" mat-menu-item (click)="deleteDocument(document)"
                      type="button">
                      <mat-icon>delete</mat-icon>
                      {{ "DELETE" | translate }}
                    </button>
                    <ng-container
                      *ngIf="document.isIndexable && document.isMoreThan15MinutesFromLocal && !document.isAddedPageIndxing">
                      <button *hasClaim="'deep_search_add_document_index'" mat-menu-item class="btn btn-light btn-sm"
                        (click)="addDocumentPageIndexing(document)">
                        <mat-icon>save</mat-icon>
                        {{ "ADDED_PAGE_INDEXING" | translate }}
                      </button>
                    </ng-container>
                    <ng-container
                      *ngIf="document.isIndexable && document.isMoreThan15MinutesFromLocal && document.isAddedPageIndxing">
                      <button *hasClaim="'deep_search_remove_document_index'" mat-menu-item class="btn btn-light btn-sm"
                        (click)="removeDocumentPageIndexing(document)">
                        <mat-icon>delete</mat-icon>
                        {{ "REMOVE_PAGE_INDEXING" | translate }}
                      </button>
                    </ng-container>
                  </mat-menu>
                </td>
              </ng-container>
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  {{ "NAME" | translate }}
                </th>
                <td mat-cell *matCellDef="let document">
                  <a class="doc-link" (click)="onDocumentView(document)">{{
                    document.name
                    }}</a>
                </td>
              </ng-container>
              <ng-container matColumnDef="categoryName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  {{ "DOCUMENT_CATEGORY" | translate }}
                </th>
                <td mat-cell *matCellDef="let document">
                  {{ document.categoryName }}
                </td>
              </ng-container>
              <ng-container matColumnDef="documentStatus">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  {{ "DOCUMENT_STATUS" | translate }}
                </th>
                <td mat-cell *matCellDef="let document" [ngStyle]="{ color: document.documentStatus?.colorCode }">
                  {{ document.documentStatus?.name }}
                </td>
              </ng-container>
              <ng-container matColumnDef="storageType">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  {{ "STORAGE" | translate }}
                </th>
                <td mat-cell *matCellDef="let document">
                  {{
                  document.storageType
                  | storageType : document.storageSettingName
                  }}
                </td>
              </ng-container>
              <ng-container matColumnDef="createdDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  {{ "CREATED_DATE" | translate }}
                </th>
                <td mat-cell *matCellDef="let document">
                  {{ document?.createdDate | utcToLocalTime:'shortDate' }}
                </td>
              </ng-container>
              <ng-container matColumnDef="createdBy">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  {{ "CREATED_BY" | translate }}
                </th>
                <td mat-cell *matCellDef="let document">
                  {{ document?.createdBy }}
                </td>
              </ng-container>
              <ng-container matColumnDef="footer">
                <td mat-footer-cell colspan="8" *matFooterCellDef>
                  <mat-paginator [length]="documentResource.totalCount" [pageSize]="documentResource.pageSize"
                    [pageSizeOptions]="[10, 20, 30]"></mat-paginator>
                </td>
              </ng-container>
              <tr *matNoDataRow>
                <td colspan="8">
                  <div class="m-2">
                    <b> {{ "NO_DATA_FOUND" | translate }}</b>
                  </div>
                </td>
              </tr>
              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
              <tr mat-footer-row *matFooterRowDef="footerToDisplayed; sticky: true"></tr>
            </table>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="spinner-container" *ngIf="dataSource.loading$ | async">
  <div class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
