<div class="d-flex">
  <span mat-dialog-title class="dialog-title">{{'SEND_EMAIL' | translate}} <app-page-help-text
      code="SEND_EMAIL"></app-page-help-text> </span>
  <button mat-icon-button class="ms-auto" (click)="closeDialog()">
    <mat-icon class="close-icon" color="warn">close</mat-icon>
  </button>
</div>

<mat-dialog-content>
  <form [formGroup]="emailForm">
    <div *ngIf="!smtpConfigured" class="alert alert-warning mt-2">
      {{ 'PLEASE_CONFIGURE_EMAIL_SMTP_SETTINGS' | translate }}
    </div>
    <div class="row">
      <div class="col-md-6 pb-1">
        <div class="input-group">
          <span class="input-group-text" id="toAddress">
            {{'TO' | translate}}
          </span>
          <input formControlName="toAddress" type="text" class="form-control" placeholder="{{'EMAIL' | translate}}"
            aria-label="To" aria-describedby="toAddress">
        </div>
        <div *ngIf="emailForm.get('toAddress').touched && emailForm.get('toAddress').errors">
          <div class="text-danger" *ngIf="emailForm.get('toAddress').errors?.required">
            {{'TO_ADDRESS_IS_REQUIRED' | translate}}
          </div>
        </div>
        <div *ngIf="emailForm.get('toAddress').touched && emailForm.get('toAddress').errors">
          <div class="text-danger" *ngIf="emailForm.get('toAddress').errors?.email">
            {{'EMAIL_IS_NOT_PROPER_FORMAT' | translate}}
          </div>
        </div>
      </div>
      <div class="col-md-6 pb-1">
        <div class="input-group">
          <span class="input-group-text" id="subject">
            {{'SUBJECT' | translate}}
          </span>
          <input formControlName="subject" type="text" class="form-control" placeholder="{{'SUBJECT' | translate}}"
            aria-label="To" aria-describedby="subject">
        </div>
        <div *ngIf="emailForm.get('subject').touched && emailForm.get('subject').errors">
          <div class="text-danger" *ngIf="emailForm.get('subject').errors?.required">
            {{'SUBJECT_IS_REQUIRED' | translate}}
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group">
          <label class="font-weight-bold">
            {{'BODY' | translate}}
          </label>
          <div class="NgxEditor__Wrapper">
            <ckeditor [editor]="editor" [config]="{ toolbar: [ 'heading', '|', 'bold', 'italic' ]}"
              formControlName="body"></ckeditor>
          </div>
          <div *ngIf="emailForm.get('body').touched && emailForm.get('body').errors">
            <div class="text-danger" *ngIf="emailForm.get('body').errors?.required">
              {{'BODY_IS_REQUIRED' | translate}}
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 pb-1">
        <div class="input-group mt-3">
          <div class="input-group-prepend">
            <span class="input-group-text">
              {{'ATTACHMENT_DOCUMENT' | translate}} :: {{data?.name}}
            </span>
          </div>
        </div>
      </div>
      <div class="col-md-12 mt-1">
        <button (click)="sendEmail()" type="submit" class="btn btn-success" [disabled]="!smtpConfigured">
          <i-feather name="play" class="small-icon"></i-feather>
          {{ 'SEND' | translate }}
        </button>
      </div>
    </div>
  </form>
  <div class="spinner-container" *ngIf="isLoading">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</mat-dialog-content>
