<iframe class="preview-object" *ngIf="isLive" #iframe style="width: 100%;height: calc(100vh - 66px);"></iframe>
<div *ngIf="!isLive" style="text-align: center;">
    <img class="m-5" src="../../../assets/images/file-preview.png" alt="">
    <h5 class="text-dark">Office View is not suporting the localhost please host your REST API and try again.</h5>
</div>
<div class="spinner-container" *ngIf="isLoading">
    <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
  </div>