<div class="d-flex">
  <span mat-dialog-title class="dialog-title">{{'STORAGE_SETTINGS' | translate}}<app-page-help-text code="STORAGE_SETTINGS"></app-page-help-text> </span>
  <button mat-icon-button class="ms-auto" (click)="closeDialog()">
    <mat-icon class="close-icon" color="warn">close</mat-icon>
  </button>
</div>
<mat-dialog-content>
  <form [formGroup]="storageSettingForm" class="form-group">
    <div class="row">
      <div class="col-md-6">
        <label for="storageType" class="form-label">{{
          "STORAGE_TYPE" | translate
          }}</label>
        <mat-select class="form-control" id="storageType" formControlName="storageType"
          placeholder="{{ 'SELECT_STORAGE' | translate }}" (selectionChange)="onStorageTypeChange($event)">
          <ng-container *ngFor="let item of storageTypes">
            <mat-option *ngIf="item != storageType.LOCAL" [value]="item">{{
              item | storageType :''
              }}</mat-option>
          </ng-container>
        </mat-select>
        <div *ngIf="
              storageSettingForm.get('storageType').invalid &&
              storageSettingForm.get('storageType').touched
            " class="text-danger">
          {{ "STORAGE_TYPE_IS_REQUIRED" | translate }}
        </div>
      </div>

      <ng-container *ngIf="storageSettingForm.get('storageType').value.toString() === storageType.AWS.toString() ||
            storageSettingForm.get('storageType').value.toString() === storageType.CLOUDFLARE.toString()">
        <div class="col-md-6">
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control" id="name" formControlName="name" />
          <div *ngIf="
          storageSettingForm.get('name').invalid &&
          storageSettingForm.get('name').touched" class="text-danger">
            {{ "NAME_IS_REQUIRED" | translate }}
          </div>
        </div>
        <div class="col-md-6">
          <label for="accessKey" class="form-label">{{
            "ACCESS_KEY" | translate
            }}</label>
          <input type="text" class="form-control" id="accessKey" formControlName="accessKey" />
          <div *ngIf="
                storageSettingForm.get('accessKey').invalid &&
                storageSettingForm.get('accessKey').touched
              " class="text-danger">
            {{ "ACCESS_KEY_IS_REQUIRED" | translate }}
          </div>
        </div>
        <div class="col-md-6">
          <label for="region" class="form-label">{{
            "REGION" | translate
            }}</label>
          <input type="text" class="form-control" id="region" formControlName="region" />
          <div *ngIf="
                storageSettingForm.get('region').invalid &&
                storageSettingForm.get('region').touched
              " class="text-danger">
            {{ "REGION_IS_REQUIRED" | translate }}
          </div>
        </div>
        <div class="col-md-6">
          <label for="secretKey" class="form-label">{{
            "SECRET_KEY" | translate
            }}</label>
          <input type="text" class="form-control" id="secretKey" formControlName="secretKey" />
          <div *ngIf="
                storageSettingForm.get('secretKey').invalid &&
                storageSettingForm.get('secretKey').touched
              " class="text-danger">
            {{ "SECRET_KEY_IS_REQUIRED" | translate }}
          </div>
        </div>
        <div class="col-md-6">
          <label for="bucketName" class="form-label">{{
            "BUCKET_NAME" | translate
            }}</label>
          <input type="text" class="form-control" id="bucketName" formControlName="bucketName" />
          <div *ngIf="
                storageSettingForm.get('bucketName').invalid &&
                storageSettingForm.get('bucketName').touched
              " class="text-danger">
            {{ "BUCKET_NAME_IS_REQUIRED" | translate }}
          </div>
        </div>
        <div class="col-md-6" *ngIf="
        storageSettingForm.get('storageType').value.toString() ===
        storageType.CLOUDFLARE.toString()
      ">
          <label for="accountId" class="form-label">{{
            "ACCOUNT_ID" | translate
            }}</label>
          <input type="text" class="form-control" id="accountId" formControlName="accountId" />
          <div *ngIf="
          storageSettingForm.get('accountId').invalid &&
          storageSettingForm.get('accountId').touched
        " class="text-danger">
            {{ "ACCOUNT_ID_IS_REQUIRED" | translate }}
          </div>
        </div>
        <div class="col-md-12">
          <mat-checkbox color="primary" formControlName="enableEncryption">
          </mat-checkbox>
          <label for="enableEncryption" class="form-label">{{'ENABLE_ENCRYPTION' | translate}}</label>
        </div>
        <div class="col-md-12">
          <mat-checkbox color="primary" formControlName="isDefault">
          </mat-checkbox>
          <label for="isDefault" class="form-label">{{'IS_DEFAULT' | translate}}</label>
        </div>
      </ng-container>
      <div class="row">
        <div class="mt-2 col-md-12">
          <button class="btn btn-success btn-sm me-2" (click)="saveSettings()" cdkFocusInitial>
            <i-feather name="save" class="small-icon"></i-feather> {{ "SAVE" | translate }}
          </button>
          <button type="button" class="btn btn-danger btn-sm" (click)="closeDialog()">
            <i-feather name="x-circle" class="small-icon"></i-feather> {{ "CANCEL" | translate }}
          </button>
        </div>
      </div>
    </div>
  </form>
</mat-dialog-content>